<%= form_for @changeset, registration_path(@conn, :create), fn f -> %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Signup</h3>
  </div>
  <div class="panel-body">
    <div class="form-group row">
      <label for="email" class="col-sm-3 form-control-label">Email</label>
      <div class="col-sm-9">
        <%= text_input f, :email, class: "form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <label for="password" class="col-sm-3 form-control-label">Password</label>
      <div class="col-sm-9">
        <%= password_input f, :password, class: "form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <label for="confirmPassword" class="col-sm-3 form-control-label">Confirm Password</label>
      <div class="col-sm-9">
        <%= password_input f, :password_confirmation, class: "form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-offset-3 col-sm-9">
        <%= submit "Sign up", class: "btn btn-primary" %>
      </div>
    </div>

  </div>
</div>

<% end %>
